/*** Variables: custom components. ***/

:root {
  /** Custom layout components. **/

  /* DropdownMenu specific vars. */

  --dropdown-background: var(--header-background);
  --dropdown-border: var(--header-border);
  --dropdown-box-shadow: var(--header-box-shadow);

  /* SlideShow specific vars. */
  

  /** Custom input components. **/

  /* ComboBox specific vars. */
  --combobox-color: var(--input-color);
  --combobox-background: var(--input-background);
  --combobox-border: var(--input-border);
  --combobox-border-radius: var(--input-border-radius);

  --combobox-disabled-color: var(--input-disabled-color);
  --combobox-disabled-background: var(--input-disabled-background);

  --combobox-hover-color: var(--input-hover-color);
  --combobox-hover-background: var(--input-hover-background);

  --combobox-option-border: 1px solid #444444;
  --combobox-option-background: #f8f8f8;
  --combobox-option-background-hover: #e8e8e8;
  --combobox-option-text-hover: #111827;

  /* DateTimePicker specific vars. */
  --datetimepicker-width: 140px;
  --datetimepicker-offset: 2px 0px 0px 2px;

  --datetimepicker-background: linear-gradient(to bottom right, #fefefe 0px, #f5f5f5 400px);
  --datetimepicker-border: 1px solid #444444;
  --datetimepicker-border-radius: 10px;
  --datetimepicker-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  --datetimepicker-navbtn-filter: hue-rotate(200deg) brightness(1.6);
  --datetimepicker-navbtn-hover-filter: hue-rotate(200deg) brightness(1.9);

  --datetimepicker-day-hover-color: #111827;
  --datetimepicker-day-hover-background: linear-gradient(to bottom, #ffedab 1%, #ffdd86 99%);

  --datetimepicker-day-color: #111111;
  --datetimepicker-day-notcurrent-color: #aaaaaa;

  --datetimepicker-day-today-color: #111111;
  --datetimepicker-day-today-background: unset;
  --datetimepicker-day-today-shadow: inset 0 0 0 2px #d4a017;

  --datetimepicker-day-selected-color: #111111;
  --datetimepicker-day-selected-background: linear-gradient(to bottom, #ffdd66 1%, #fbc02d 99%);

  --datetimepicker-day-disabled-color: #777777;
  --datetimepicker-day-disabled-background: #dddddd;
  --datetimepicker-day-disabled-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
