/********************************
 * Styles specific to this app. *
 ********************************/

/* Settings for globally used elements. */

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  /* Other stuff. */
  color-scheme: var(--color-scheme);

  color: var(--body-color);
  background: var(--body-background);
}

/* Vue convention: mounting point where the entire application is injected into the HTML in index.html. */
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: var(--link-color);
}

/*** Common elements used on multiple pages. ***/

main {
  margin: var(--main-margin);
  padding: var(--main-padding);
}

header {
  font-size: var(--header-font-size);
  text-align: center;

  margin: var(--header-margin);
  padding: var(--header-padding);

  border: var(--header-border);
  border-radius: var(--header-border-radius);
  background: var(--header-background);
  box-shadow: var(--header-box-shadow);
}

footer {
  font-size: var(--footer-font-size);
  text-align: center;

  align-self: center;
  width: fit-content;
  min-width: 40%;

  margin: var(--footer-margin);
  padding: var(--footer-padding);

  border: var(--footer-border);
  border-radius: var(--footer-border-radius);
  background: var(--footer-background);
  box-shadow: var(--footer-box-shadow);
}

/**/

h1 {
  color: var(--h1-color);

  font-size: 54px;
  font-family: var(--font-family-header);

  text-align: var(--h1-text-align);
  text-shadow: var(--h1-text-shadow);
}

h2 {
  color: var(--h2-color);

  font-size: 28px;
  font-family: var(--font-family-header);

  text-align: var(--h2-text-align);
  text-shadow: var(--h2-text-shadow);
}

h3 {
  color: var(--h3-color);

  font-size: 24px;
  font-family: var(--font-family-header);

  text-align: var(--h3-text-align);
  text-shadow: var(--h3-text-shadow);
}

/**/

input {
  padding: 2px;
  margin-top: 5px;

  color: var(--input-color);
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}
input.err {
  color: var(--input-err-color);
  background: var(--input-err-background);
  border: var(--input-err-border);
}

button {
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: var(--button-margin);
  padding: var(--button-padding);

  color: var(--button-color);
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  transition: var(--button-transition);

}

button:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-background);
  border: var(--button-hover-border);
  box-shadow: var(--button-hover-box-shadow);
}

button:active {
  transform: var(--button-active-transform);
  box-shadow: var(--button-active-box-shadow);
}

button:disabled {
  cursor: not-allowed;

  color: var(--button-disabled-color);
  background: var(--button-disabled-background);
  border: var(--button-disabled-border);
  box-shadow: var(--button-disabled-box-shadow);
}

/* Vue-specific elements. */

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  color: var(--nav-color);

  font-family: var(--font-family-ui);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);

  text-align: var(--nav-text-align);
  text-shadow: var(--nav-text-shadow);
}

.nav-link:hover {
  color: var(--nav-hover-color);
  text-shadow: var(--nav-hover-text-shadow);
}

.nav-link.router-link-active {
  color: var(--nav-active-color);

  font-family: var(--font-family-ui);
  font-weight: var(--nav-active-font-weight);

  text-shadow: var(--nav-active-text-shadow);
}

.nav-link:hover.router-link-active {
  color: var(--nav-hover-color);
  text-shadow: var(--nav-hover-text-shadow);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 1px 4px;
}
