/*** Styles specific to this application: custom components. ***/

/** Hidden button target for <label> clicking. */
.hidden-label-button {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Note: most custom components has classes in their scoped style section. */

/* Spinner. */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  cursor: default;
}

/* Dropdown menu. */

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 1px 4px;
}

/* ComboBox. */

.table-cell .combobox {
  font-size: var(--combobox-color-small);
  padding: var(--combobox-selected-padding-small);
}
