/*** Styles specific to this application: custom components. ***/

/* Note: most custom components has classes in their scoped style section. */

/* Spinner. */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  cursor: default;
}

/* Dropdown menu. */

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 1px 4px;
}

/* ComboBox. */

.table-cell .combobox {
  font-size: var(--combobox-text-small);
  padding: var(--combobox-selected-padding-small);
}
