/*** Styles specific to this application: tables. ***/

/*** Table wrapper classes. ***/

.table-wrapper {
  display: grid;
  gap: 1rem;

  justify-items: stretch;
  align-items: start;
}

.table-wrapper.side {
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 1fr 1fr */
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'filter editor'
    'table editor';
}
.table-wrapper.bottom {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'filter'
    'table'
    'editor';
}

.table-wrapper-filter {
  grid-area: filter;
}
.table-wrapper-page {
  grid-area: table;
}
.table-wrapper-editor {
  grid-area: editor;
}

@media (max-width: 1000px) {
  .table-wrapper.side {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'filter'
      'table'
      'editor';
  }
}

/*** Table page classes. ***/

.table-container {
  display: grid;
  grid-template-columns: repeat(var(--col-count), auto);

  border: 1px solid #d1d1d1;
  border-radius: 8px;

  background-color: #f1f1f1; /* Used as color of lines. */
  gap: 1px; /* This creates the "borders" between cells. */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  overflow: hidden;
  user-select: none;
}

.table-entire-row {
  grid-column: 1 / span var(--col-count);
}

.table-empty {
  padding: 15px;
  margin: auto;
  color: #525252;
  background-color: #ffffff;
  cursor: default;
}

/* Table header classes. */

.table-header-group {
  display: contents;
}

.table-header-row {
  display: contents;
}

.table-header-cell {
  display: flex;
  flex: 1;

  color: #374151;
  background-color: #d8d8d8;
  box-shadow: 1px 0 0 0 #d8d8d8, 0 1px 0 0 #d8d8d8, -1px 1px 0 0 #d8d8d8; /* Ensure gap is not visible*/

  min-width: 0; /* Prevents cell from expanding parent */
  padding: 5px;

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  text-align: left;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* Table row classes. */

.table-row-group {
  display: contents;
}

.table-row {
  display: contents;
}

.table-row.unselectable .table-cell {
  cursor: default;
}

.table-row.odd .table-cell {
  background-color: #fafafa;
}

.table-row.selected .table-cell {
  color: #9a3412;
  background-color: #fff7ed; /* Very light orange */
  box-shadow: 1px 0 0 0 #fff7ed; /* Ensure gap is not visible*/
}
.table-row.selected .table-cell:first-child {
   /* Orange left border effect and gap hiding. */
  box-shadow: inset 4px 0 0 0 #f97316, 1px 0 0 0 #fff7ed;
}

.table-row:not(.unselectable):hover .table-cell {
  background-color: #f3f3f3;
  box-shadow: 1px 0 0 0 #f3f3f3; /* Ensure gap is not visible*/
}
.table-row:not(.unselectable).odd:hover .table-cell {
  background-color: #f3f3f3;
  box-shadow: 1px 0 0 0 #f3f3f3; /* Ensure gap is not visible*/
}
.table-row:not(.unselectable).selected:hover .table-cell {
  background-color: #ffedd5; /* Slightly darker orange */
  box-shadow: 1px 0 0 0 #ffedd5; /* Ensure gap is not visible*/
}
.table-row.selected:hover .table-cell:first-child {
   /* Orange left border effect and gap hiding. */
  box-shadow: inset 4px 0 0 0 #f97316, 1px 0 0 0 #ffedd5;
}

/* Table cell classes. */

.table-cell {
  display: flex;
  flex: 1;

  background-color: #ffffff;

  min-width: 0; /* Prevents cell from expanding parent */
  padding: 5px;

  text-align: left;
  align-items: center;

  transition: all 0.2s ease;
  cursor: pointer;
}

.cell-value {
  font-size: 0.8rem;
  /* Force text to be visually cut instead of wrapping. */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Table paginer classes. */

.table-paginer {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto 1fr;
  gap: 0.3rem;

  padding: 2px;

  background-color: #e3e3e3;

  justify-items: center;
  align-items: center;
}

.table-paginer-side {
  width: 100%;
}

.table-paginer-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table-paginer-navbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  filter: var(--tablepaginer-navbtn-filter);
}
.table-paginer-navbtn:hover {
  filter: var(--tablepaginer-navbtn-hover-filter);
}

.table-paginer-navbtn.disabled,
.table-paginer-entry.disabled {
  filter: grayscale(100%); /* Grays out the colors (essential for emojis) */
  opacity: 0.5; /* Makes it look faded */
  color: #9ca3af; /* For regular text */

  pointer-events: none;
  cursor: default;
}

.input-paginer {
  width: 45px;
  text-align: center;
  padding: 1px;
  margin: 1px 5px 0 0;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  height: 1.25em;
  box-sizing: border-box;
}
/* Remove arrows from numeric input */
.input-paginer::-webkit-outer-spin-button,
.input-paginer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-paginer[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
