/*** General styles. ***/

/* Fonts. */

@font-face { /* Ensure flag emojis work in all browsers. */
  font-family: "Twemoji Country Flags";
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1.3/dist/TwemojiCountryFlags.woff2') format('woff2');
  font-display: swap;
}

/* Settings for globally used elements. */

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  /* Other stuff. */
  color-scheme: var(--color-scheme);

  color: var(--body-color);
  background: var(--body-background);
}

/* Vue convention: mounting point where the entire application is injected into the HTML in index.html. */
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: var(--link-color);
}

/*** Common elements used on multiple pages. ***/

main {
  margin: var(--main-margin);
  padding: var(--main-padding);
}

header {
  font-size: var(--header-font-size);
  text-align: center;

  margin: var(--header-margin);
  padding: var(--header-padding);

  border: var(--header-border);
  border-radius: var(--header-border-radius);
  background: var(--header-background);
  box-shadow: var(--header-box-shadow);
}

footer {
  font-size: var(--footer-font-size);
  text-align: center;

  align-self: center;
  width: fit-content;
  min-width: 40%;

  margin: var(--footer-margin);
  padding: var(--footer-padding);

  border: var(--footer-border);
  border-radius: var(--footer-border-radius);
  background: var(--footer-background);
  box-shadow: var(--footer-box-shadow);
}

/**/

h1 {
  color: var(--h1-color);

  font-size: var(--h1-text-size);
  font-family: var(--font-family-header);

  text-align: var(--h1-text-align);
  text-shadow: var(--h1-text-shadow);
}

h2 {
  color: var(--h2-color);

  font-size: var(--h2-text-size);
  font-family: var(--font-family-header);

  text-align: var(--h2-text-align);
  text-shadow: var(--h2-text-shadow);
}

h3 {
  color: var(--h3-color);

  font-size: var(--h3-text-size);
  font-family: var(--font-family-header);

  text-align: var(--h3-text-align);
  text-shadow: var(--h3-text-shadow);
}

h4 {
  color: var(--h4-color);

  font-size: var(--h4-text-size);
  font-family: var(--font-family-header);

  text-align: var(--h4-text-align);
  text-shadow: var(--h4-text-shadow);
}

/**/

input {
  margin: var(--input-margin);
  padding: var(--input-padding);

  color: var(--input-color);
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

input:focus {
  outline: none;
}

input:hover {
  color: var(--input-hover-color);
  background: var(--input-hover-background);
}

input:disabled {
  color: var(--input-disabled-color);
  background: var(--input-disabled-background);
  border: var(--input-disabled-border);
}

input.err {
  color: var(--input-err-color);
  background: var(--input-err-background);
  border: var(--input-err-border);
}

button {
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: var(--button-margin);
  padding: var(--button-padding);

  color: var(--button-color);
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  transition: var(--button-transition);
}

button:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-background);
  border: var(--button-hover-border);
  box-shadow: var(--button-hover-box-shadow);
}

button:active {
  transform: var(--button-active-transform);
  box-shadow: var(--button-active-box-shadow);
}

button:disabled {
  cursor: not-allowed;

  color: var(--button-disabled-color);
  background: var(--button-disabled-background);
  border: var(--button-disabled-border);
  box-shadow: var(--button-disabled-box-shadow);
}

button.danger {
  color: var(--button-danger-color);
  background: var(--button-danger-background);
  border: var(--button-danger-border);
}

button:hover.danger {
  color: var(--button-hover-danger-color);
  background: var(--button-hover-danger-background);
  border: var(--button-hover-danger-border);
}

button:disabled.danger {
  color: var(--button-disabled-color);
  background: var(--button-disabled-background);
  border: var(--button-disabled-border);
}
